<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Play - Guessing Game</title>
  </head>
  <body>
    <div class="container">
      <!-- Botão de Voltar -->
      <a class="back-button" href="{{ url_for('index') }}">←</a>

      <h1>Play!</h1>
      <form method="POST">
        <label for="guess">Your Guess:</label>
        <input type="number" name="guess" required />
        <button type="submit">Submit Guess</button>
      </form>

      <div class="result">
        {% if result %}
        <p>{{ result }}</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
